---
title: Test page
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
<!-- BEGIN WRAPPER -->
<div class="wrapper">
<!-- BEGIN HEADER -->
  <header>
    <div class="hotest">
      <div class="hotest__row">
        <a href="#">
          <span>hotest</span>
        </a>
        <p>The bloodied bodies lay stuffed and tangled in the back of a pickup like garbage.</p>
      </div>
      <p>
        <a href="#">&rsaquo;</a>
      </p>
    </div>
    <div class="layman">
      <div class="layman__logo">
        <h1 class="layman__logo--name">layman</h1>
        <p class="layman__logo--politics">politics</p>
        <hr class="layman__logo--hr">
        <p class="layman__logo--blog">blog about politics</p>
      </div>
      <div class="layman__nav">
        <div class="layman__nav--list">
          <ul class="layman__nav--list first__ul">
            <li>
              <a href="#">privacy policy</a>
            </li>
            <li>
              <a href="#">advertise</a>
            </li>
            <li>
              <a href="#">terms and conditions</a>
            </li>
          </ul>
        </div>
        <nav>
          <ul class="layman__nav--list second__ul">
            <li>
              <a href="#">main street</a>
            </li>
            <li>
              <a href="#">washington dc</a>
            </li>
            <li>
              <a href="#">wall street</a>
            </li>
            <li>
              <a href="#">statewide</a>
            </li>
            <li>
              <a href="#">politics</a>
            </li>
            <li>
              <a href="#">just a bill</a>
            </li>
            <li>
              <a href="#">video</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <!-- END HEADER -->
  <div class="main">
    <!-- START ARTICLE -->
    <article class="news">
      <!-- NEWS LINE 1 -->
      <div class="news__line">
        <div class="news__line--arrow">
          <p>Gruesome video shows Syria brutality</p>
        </div>
        <div class="news__line--triangle"></div>
        <p class="news__line--sometext">As crackdowns against anti-government protesters continue across</p>
      </div>
      <!-- END NEWS LINE -->
      <div class="news__img">
        <div class="news__img--pic"></div>
        <div class="news__img--desc">
          <p>The bloodied bodies lay stuffed and tangled in the back of a pickup like garbage. Men lifted the bodies one by
            one and hurled from them from a bridge into a river below as cursing filled the air</p>
        </div>
      </div>
      <div class="news__grid">
        <div class="card">
          <img class="card__img" src="img/img_1.jpg" alt="Picture">
          <h5>
            <a href="#">CNN could not verify the authenticity</a>
          </h5>
          <p class="card__descr">The bloodied bodies lay stuffed and tangled in the back of a pickup like garbage.</p>
          <div class="card__comment">
            <img src="img/speech-bubble.png" alt="Speech-bubble">
            <p>12</p>
          </div>
        </div>
        <div class="card">
          <img class="card__img" src="img/img_2.jpg" alt="Picture">
          <h5>
            <a href="#">How Much Do You Owe For Lunch? You Decide</a>
          </h5>
          <p class="card__descr">The bloodied bodies lay stuffed and tangled in the back of a pickup like garbage.</p>
          <div class="card__comment">
            <img src="img/speech-bubble.png" alt="Speech-bubble">
            <p>12</p>
          </div>
        </div>
        <div class="card">
          <img class="card__img" src="img/img_3.jpg" alt="Picture">
          <h5>
            <a href="#">Reid eyes deal to end stalemate over funding</a>
          </h5>
          <p class="card__descr">The bloodied bodies lay stuffed and tangled in the back of a pickup like garbage.</p>
          <div class="card__comment">
            <img src="img/speech-bubble.png" alt="Speech-bubble">
            <p>12</p>
          </div>
        </div>
        <div class="card">
          <img class="card__img" src="img/img_4.jpg" alt="Picture">
          <h5>
            <a href="#">Wall Street on Debt Deal So What?</a>
          </h5>
          <p class="card__descr">Dow drops more than 250 points as stock markets show no relief from obama's</p>
          <div class="card__comment">
            <img src="img/speech-bubble.png" alt="Speech-bubble">
            <p>12</p>
          </div>
        </div>
      </div>
      <!-- NEWS LINE 2 -->
      <div class="news__line">
        <div class="news__line--arrow">
          <p>In Syria, 'brother of a whore' gets tossed like trash</p>
        </div>
        <div class="news__line--triangle"></div>
        <p class="news__line--sometext">As crackdowns against anti-government protesters</p>
      </div>
      <!-- END NEWS LINE -->
      <div class="news__blog">
        <img class="news__blog--img" src="img/img_5.jpg" alt="Picture">
        <div class="news__blog--desc">
          <p>A federal judge in Ohio ruled Monday that former Rep. Steve Driehaus' defamation suit. In a case that could test
            the bounds of free speech, a former Democratic congressman has been allowed to proceed with his lawsuit against
            a prominent pro-life group that he claims contributed to his election defeat by spreading falsehoods about his
            record on abortion issues.</p>
          <div class="post">
            <div class="post__comment">
              <img src="img/speech-bubble.png" alt="Speech-bubble">
              <p>12</p>
            </div>
            <div class="post__tags">
              <p>Tags:</p>
              <a class="post__tags--link" href="#">Italy</a>,
              <a class="post__tags--link" href="#">Best wine</a>,
              <a class="post__tags--link" href="#">Spirit</a>,
              <a class="post__tags--link" href="#">World championship</a>,
              <a class="post__tags--link" href="#">Eat</a>
            </div>
            <div class="post__share">
              <p>Share:</p>
              <a href="#">
                <img src="img/Facebook.jpg" alt="Facebook">
              </a>
              <a href="#">
                <img src="img/Twitter.jpg" alt="Twitter">
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- NEWS LINE 3 -->
      <div class="news__line">
        <div class="news__line--arrow">
          <p>Gruesome video shows Syria brutality</p>
        </div>
        <div class="news__line--triangle"></div>
        <p class="news__line--sometext">As crackdowns against anti-government protesters continue across</p>
      </div>
      <!-- END NEWS LINE -->
      <div class="news__blog">
        <img class="news__blog--img" src="img/img_6.jpg" alt="Picture">
        <div class="news__blog--desc">
          <p>In a case that could test the bounds of free speech, a former Democratic congressman has been allowed to proceed
            with his lawsuit against a prominent pro-life group that he claims contributed to his election defeat by spreading
            falsehoods about his record on abortion issues. A federal judge in Ohio ruled Monday that former Rep. Steve Driehaus'
            defamation suit.</p>
          <div class="post">
            <div class="post__comment">
              <img src="img/speech-bubble.png" alt="Speech-bubble">
              <p>12</p>
            </div>
            <div class="post__tags">
              <p>Tags:</p>
              <a class="post__tags--link" href="#">Italy</a>,
              <a class="post__tags--link" href="#">Best wine</a>,
              <a class="post__tags--link" href="#">Spirit</a>,
              <a class="post__tags--link" href="#">World championship</a>,
              <a class="post__tags--link" href="#">Eat</a>
            </div>
            <div class="post__share">
              <p>Share:</p>
              <a href="#">
                <img src="img/Facebook.jpg" alt="Facebook">
              </a>
              <a href="#">
                <img src="img/Twitter.jpg" alt="Twitter">
              </a>
            </div>
          </div>
        </div>
      </div>
    </article>
    <!-- END ARTICLE -->
    <!-- START ASIDE -->
    <aside>
      <div class="card aside">
        <div class="red-line">
          <p>hottest video</p>
        </div>
        <video class="card__img" poster="img/video-1.jpg">
          <source src="#">
        </video>
        <h5>
          <a href="#">CNN could not verify the authenticity</a>
        </h5>
        <p class="card__descr">The bloodied bodies lay stuffed and tangled in the back of a pickup like garbage.</p>
        <div class="card__comment">
          <img src="img/speech-bubble.png" alt="Speech-bubble">
          <p>12</p>
        </div>
      </div>
      <div class="card aside">
        <video class="card__img" poster="img/video-2.jpg">
          <source src="#">
        </video>
        <h5>
          <a href="#">Reid eyes deal to end stalemate over funding</a>
        </h5>
        <p class="card__descr">The bloodied bodies lay stuffed and tangled in the back of a pickup like garbage.</p>
        <div class="card__comment">
          <img src="img/speech-bubble.png" alt="Speech-bubble">
          <p>12</p>
        </div>
      </div>
      <div class="card aside">
        <video class="card__img" poster="img/video-3.jpg">
          <source src="#">
        </video>
        <h5>
          <a href="#">CNN could not verify the authenticity</a>
        </h5>
        <p class="card__descr">The bloodied bodies lay stuffed and tangled in the back of a pickup like garbage.</p>
        <div class="card__comment">
          <img src="img/speech-bubble.png" alt="Speech-bubble">
          <p>12</p>
        </div>
      </div>
	</aside>
	<!-- END ASIDE -->
  </div>
</div>
<!-- END WRAPPER -->
<!-- BEGIN FOOTER -->
<footer>
  <h2>layman</h2>
</footer>
<!-- END WRAPPER -->

{% endblock %}
