    <div class="main">
    <!-- START ARTICLE -->
        <article class="news">
            <!-- NEWS LINE 1 -->
            <div class="news-line">
            <div class="news-line_arrow">
                <p>Gruesome video shows Syria brutality</p>
            </div>
            <div class="news-line_triangle"></div>
            <p class="news-line_sometext">As crackdowns against anti-government protesters continue across</p>
            </div>
            <!-- END NEWS LINE -->
            <div class="news-img">
            <div class="news-img_pic"></div>
            <div class="news-img_desc">
                <p>The bloodied bodies lay stuffed and tangled in the back of a pickup like garbage. Men lifted the bodies one by one
                and hurled from them from a bridge into a river below as cursing filled the air</p>
            </div>
            </div>
            <div class="news-grid">
            <div class="card">
                <img class="card-img" src="img/img_1.jpg" alt="Picture">
                <h5>
                <a href="#">CNN could not verify the authenticity</a>
                </h5>
                <p class="card-descr">The bloodied bodies lay stuffed and tangled in the back of a pickup like garbage.</p>
                <div class="card-comment">
                <img src="img/speech-bubble.png" alt="Speech-bubble">
                <p>12</p>
                </div>
            </div>
            <div class="card">
                <img class="card-img" src="img/img_2.jpg" alt="Picture">
                <h5>
                <a href="#">How Much Do You Owe For Lunch? You Decide</a>
                </h5>
                <p class="card-descr">The bloodied bodies lay stuffed and tangled in the back of a pickup like garbage.</p>
                <div class="card-comment">
                <img src="img/speech-bubble.png" alt="Speech-bubble">
                <p>12</p>
                </div>
            </div>
            <div class="card">
                <img class="card-img" src="img/img_3.jpg" alt="Picture">
                <h5>
                <a href="#">Reid eyes deal to end stalemate over funding</a>
                </h5>
                <p class="card-descr">The bloodied bodies lay stuffed and tangled in the back of a pickup like garbage.</p>
                <div class="card-comment">
                <img src="img/speech-bubble.png" alt="Speech-bubble">
                <p>12</p>
                </div>
            </div>
            <div class="card">
                <img class="card-img" src="img/img_4.jpg" alt="Picture">
                <h5>
                <a href="#">Wall Street on Debt Deal So What?</a>
                </h5>
                <p class="card-descr">Dow drops more than 250 points as stock markets show no relief from obama's</p>
                <div class="card-comment">
                <img src="img/speech-bubble.png" alt="Speech-bubble">
                <p>12</p>
                </div>
            </div>
            </div>
            <!-- NEWS LINE 2 -->
            <div class="news-line">
            <div class="news-line_arrow">
                <p>In Syria, 'brother of a whore' gets tossed like trash</p>
            </div>
            <div class="news-line_triangle"></div>
            <p class="news-line_sometext">As crackdowns against anti-government protesters</p>
            </div>
            <!-- END NEWS LINE -->
            <div class="news-blog">
            <img class="news-blog_img" src="img/img_5.jpg" alt="Picture">
            <div class="news-blog_desc">
                <p>A federal judge in Ohio ruled Monday that former Rep. Steve Driehaus' defamation suit. In a case that could test
                the bounds of free speech, a former Democratic congressman has been allowed to proceed with his lawsuit against
                a prominent pro-life group that he claims contributed to his election defeat by spreading falsehoods about his
                record on abortion issues.</p>
                <div class="post">
                <div class="post-comment">
                    <img src="img/speech-bubble.png" alt="Speech-bubble">
                    <p>12</p>
                </div>
                <div class="post-tags">
                    <p>Tags:</p>
                    <a class="post-tags_link" href="#">Italy</a>,
                    <a class="post-tags_link" href="#">Best wine</a>,
                    <a class="post-tags_link" href="#">Spirit</a>,
                    <a class="post-tags_link" href="#">World championship</a>,
                    <a class="post-tags_link" href="#">Eat</a>
                </div>
                <div class="post-share">
                    <p>Share:</p>
                    <a href="#">
                    <img src="img/Facebook.jpg" alt="Facebook">
                    </a>
                    <a href="#">
                    <img src="img/Twitter.jpg" alt="Twitter">
                    </a>
                </div>
                </div>
            </div>
            </div>
            <!-- NEWS LINE 3 -->
            <div class="news-line">
            <div class="news-line_arrow">
                <p>Gruesome video shows Syria brutality</p>
            </div>
            <div class="news-line_triangle"></div>
            <p class="news-line_sometext">As crackdowns against anti-government protesters continue across</p>
            </div>
            <!-- END NEWS LINE -->
            <div class="news-blog">
            <img class="news-blog_img" src="img/img_6.jpg" alt="Picture">
            <div class="news-blog_desc">
                <p>In a case that could test the bounds of free speech, a former Democratic congressman has been allowed to proceed
                with his lawsuit against a prominent pro-life group that he claims contributed to his election defeat by spreading
                falsehoods about his record on abortion issues. A federal judge in Ohio ruled Monday that former Rep. Steve Driehaus'
                defamation suit.</p>
                <div class="post">
                <div class="post-comment">
                    <img src="img/speech-bubble.png" alt="Speech-bubble">
                    <p>12</p>
                </div>
                <div class="post-tags">
                    <p>Tags:</p>
                    <a class="post-tags_link" href="#">Italy</a>,
                    <a class="post-tags_link" href="#">Best wine</a>,
                    <a class="post-tags_link" href="#">Spirit</a>,
                    <a class="post-tags_link" href="#">World championship</a>,
                    <a class="post-tags_link" href="#">Eat</a>
                </div>
                <div class="post-share">
                    <p>Share:</p>
                    <a href="#">
                    <img src="img/Facebook.jpg" alt="Facebook">
                    </a>
                    <a href="#">
                    <img src="img/Twitter.jpg" alt="Twitter">
                    </a>
                </div>
                </div>
            </div>
            </div>
        </article>
        <!-- END ARTICLE -->
        <!-- START ASIDE -->
        <aside>
            <div class="card aside">
            <div class="red_line">
                <p>hottest video</p>
            </div>
            <video class="card-img" poster="img/video-1.jpg">
                <source src="#">
            </video>
            <h5>
                <a href="#">CNN could not verify the authenticity</a>
            </h5>
            <p class="card-descr">The bloodied bodies lay stuffed and tangled in the back of a pickup like garbage.</p>
            <div class="card-comment">
                <img src="img/speech-bubble.png" alt="Speech-bubble">
                <p>12</p>
            </div>
            </div>
            <div class="card aside">
            <video class="card-img" poster="img/video-2.jpg">
                <source src="#">
            </video>
            <h5>
                <a href="#">Reid eyes deal to end stalemate over funding</a>
            </h5>
            <p class="card-descr">The bloodied bodies lay stuffed and tangled in the back of a pickup like garbage.</p>
            <div class="card-comment">
                <img src="img/speech-bubble.png" alt="Speech-bubble">
                <p>12</p>
            </div>
            </div>
            <div class="card aside">
            <video class="card-img" poster="img/video-3.jpg">
                <source src="#">
            </video>
            <h5>
                <a href="#">CNN could not verify the authenticity</a>
            </h5>
            <p class="card-descr">The bloodied bodies lay stuffed and tangled in the back of a pickup like garbage.</p>
            <div class="card-comment">
                <img src="img/speech-bubble.png" alt="Speech-bubble">
                <p>12</p>
            </div>
            </div>
        </aside>
    </div>
</div>