<div class="wrapper">
  <header>
    <div class="hotest">
      <div class="hotest-row">
        <a href="#">
          <span>hotest</span>
        </a>
        <p>The bloodied bodies lay stuffed and tangled in the back of a pickup like garbage.</p>
      </div>
      <p>
        <a href="#">&rsaquo;</a>
      </p>
    </div>
    <div class="layman">
      <div class="layman-logo">
        <h1 class="layman-logo_name">layman</h1>
        <p class="layman-logo_politics">politics</p>
        <hr class="layman-logo_hr">
        <p class="layman-logo_blog">blog about politics</p>
      </div>
      <div class="layman-nav">
        <div class="layman-nav_list">
          <ul class="layman-nav_list first-ul">
            <li>
              <a href="#">privacy policy</a>
            </li>
            <li>
              <a href="#">advertise</a>
            </li>
            <li>
              <a href="#">terms and conditions</a>
            </li>
          </ul>
        </div>
        <nav>
          <ul class="layman-nav_list second-ul">
            <li>
              <a href="#">main street</a>
            </li>
            <li>
              <a href="#">washington dc</a>
            </li>
            <li>
              <a href="#">wall street</a>
            </li>
            <li>
              <a href="#">statewide</a>
            </li>
            <li>
              <a href="#">politics</a>
            </li>
            <li>
              <a href="#">just a bill</a>
            </li>
            <li>
              <a href="#">video</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>